:root {
  --background-color: #f5fffa;

  --selected-color: #4fe1f4;

  --edge-color: #548f9e;
  --edge-incoming-color: #698b69;
  --edge-outgoing-color: #008acd;
  --edge-incoming-outgoing-color: black;

  --cluster-label-bg-color: #e8eaed;

  --node-bg-color: #f4f5f1;

  --symbol-default-bg-color: var(--node-bg-color);
  --symbol-default-border-color: #889f4e;
  --symbol-default-text-color: #363636;

  --interface-bg-color: #fff8dc;
  --interface-border-color: #a69348;

  --module-bg-color: #ffebcd;
  --module-border-color: #a67e43;

  --constructor-bg-color: #ffdab9;
  --constructor-border-color: #a66e3c;

  --method-bg-color: #fff8c5;
  --method-border-color: #d4a72c;
  /* --method-text-color: #9a6700; */

  --function-bg-color: #bafbd0;
  --function-border-color: #4ac26b;

  --struct-bg-color: #ddf4ff;
  --struct-border-color: #54aeff;
  /* --struct-text-color: #8969da; */

  --type-icon-color: #8969da;
  --property-icon-color: #5f9348;
}
