@layer components.base {
  .option {
    padding: 0 0.75rem;
    border-radius: 8px;
    height: var(--option-height);

    overflow: hidden;
    cursor: default;
    user-select: none;

    &:hover {
      background: var(--blue-0);
    }
  }
}
